<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Registracija</title>
</head>
<body>
	<h2>Apoteka</h2>
<nav>

	  <div class="navigation">  
	 	<ul>     
	 
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Statistika o obolelima</a></li>        
	 	<li><a href="">Pocetna</a></li>  
	 		
	 	</ul>     
	 	</div >
	</nav>
	<br>
	<br>
	<br>
	
	<table class="korisnik">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">Registracija</a></li>
					<li><a href="prijava.html">Prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	
	<form method="post" action="korisnici/registracija">
		<table>
			<caption>Registracija</caption>
			<tr><th>Email:</th><td><input type="text" value="" name="email" /></td>
			</tr>
		
			<tr><th>Lozinka:</th><td><input type="password" value="" name="lozinka" /></td></tr>
			<tr><th>Ponovljena Lozinka:</th><td><input type="password" name="ponovljenaLozinka" /></td></tr>
			<tr><th>Ime:</th><td><input type="text" value="" name="ime" /></td></tr>
			<tr><th>Prezime:</th><td><input type="text" value="" name="prezime" /></td></tr>
			<tr><th>Datum Rodjenja:</th><td><input type="date" value="" name="datumRodjenja" /></td></tr>
			<tr><th>JMBG:</th><td><input type="text" value="" name="jmbg" /></td></tr>
			<tr><th>Adresa:</th><td><input type="text" value="" name="adresa" /></td></tr>
			<tr><th>Broj telefona:</th><td><input type="text" value="" name="brojTelefona"/></td></tr>
			<tr><th></th><td><input type="submit" value="Registruj se" /></td>
		</table>
		
	</form>
	<p class="greska" th:text="${poruka}"></p>

	

</body>
</html>
